/* Color Theme Swatches in Hex */
.abstract-black-leather-dark-background-1-hex { color: #3B3B40; }
.abstract-black-leather-dark-background-2-hex { color: #0C0C0D; }
.abstract-black-leather-dark-background-3-hex { color: #242426; }
.abstract-black-leather-dark-background-4-hex { color: #727273; }
.abstract-black-leather-dark-background-5-hex { color: #A6A6A6; }

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.container_conteudo{
    text-align: center;
    border: 2px solid #242426;
    border-radius: 8px;
    padding: 10px;
}

.container_title_h1{
    font-size: 3rem;
    margin:10px 0;
    color: #0C0C0D;
}

.container_title_p{
    font-size: 1rem;
    font-weight: 600;
    color: #0C0C0D;
}

.container_imputs{
    display: flex;
    flex-direction: column;
}

.container_imputs_textarea{
    border-style: none;
    background-color: #A6A6A6;
    margin: 0 0 10px;
    border-radius: 8px;
}

.container_imputs_button{
    background-color: #242426;
    color: white;
    border-style: none;
    height: 40px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 8px;
}

footer{
    align-items: center;
    position: fixed;

}
